.content {
    min-height: calc(100vh - 175px)
}

.tengah {
    text-align: center;
}

.kiri {
    text-align: left;
}

.kanan {
    text-align: right;
}

.kanan li {
    text-align: left;
    margin-left: 50%
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 40px;
    margin-right: 10px;
}

.col-lg-6 {
    width: 100%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 2;
}


.list-group li {
    margin-top: 10px
}

@media (max-width: 768px){
    .kiri {
        text-align: center;
        margin: 20px;
    }
    .kanan {
        text-align: center;
        margin: 20px;
    }
    .kanan li {
        text-align: left;
        margin-left: 0;
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }
}
